{% extends 'base_bs4.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'GS1 Activate: Dashboard' %}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb col-auto mr-auto">
        <li><a href="{% url 'users:profile' %}">{{ _("Home") }}</a></li>
        <li>{{ title }}</li>
    </ol>
{% endblock %}

{% block site_content %}
    <div class="site-content">
        <h2>{% block page_title %} {% trans 'Admin Dashboard ' %} {% endblock %}</h2>

        {% block page_content %}
            <div class="site-content-padder">
                <div id="admin-dashboard">
                    <!-- vue component container -->
                </div>
            </div>
        {% endblock page_content %}
    </div>
{% endblock site_content %}

{% block base_scripts %}
    <script type="text/javascript" src="{% url 'javascript-i18n' %}"></script>
    <script src="{% static 'site/standalone/standalone-components.js' %}"></script>
{% endblock %}

{% block base_css %}
     <link href="{% static 'site/standalone/standalone-components.css' %}" rel="stylesheet">
{% endblock %}
