<!-- $def with (barcode, symbol, frm, uid=None, btr=None, action=False) -->

<!-- <h2>$barcode.symbols[symbol]['name'] Preview</h2> -->

{% extends "_base.html" %}

{% block title %}{{ barcode.gtin }} Download{% endblock %}

{% block content %}

<h2>{{ barcode.kind }} {{ barcode.gtin }} Download</h2>

<p>

Downloading: {{ barcode.kind }} <b>{{ barcode.gtin }}</b>

</p>


<h3>Download Postscript File</h3>
    <table>
    <tr valign="top">
    <td><p class="note"><u>EPS files offer best possible quality for the final barcode production</u> because of the exact geometry provided by its vector format. This is preferred way to generate barcode lables.</p>
    </td>
    </tr>
    <tr>
    <td>
    <form id="eps_download" action="/download/{{ barcode.id }}/?type=eps" method="post">
    
    <table>
    {{ dpsf }}
    </table>
    
    <p class="page-actions"><input type="submit" name="action" value="Download EPS file" />&nbsp;</input>
    </form>
    </td>
    </tr>
    </table>


<h3>Download Barcode Images</h3>
    <table>
    <tr valign="top">
    <td><p class="note">Choose image type and appropriate resolution.</p>
    </td>
    </tr>
    <tr>
    <td>
    <form id="img_download" action="/download/{{ barcode.id }}/?type=image" method="post">

    <table>
    {{ dimgf }}
    </table>


    <br/>
    <p class="page-actions"><input type="submit" name="action" value="Download Image file" />&nbsp;</input>
    </form>
    </td>
    </tr>
    </table>


<h3>Options</h3>
<p>
You can change the size or other options of {{ barcode.kind }} by returning here: <a href="{{ barcode.get_absolute_url }}">{{ barcode.gtin }}</a>


{% endblock %}
