{% extends "_base.html" %}

{% block page %}Account: BarcodeRobot{% endblock %}
{% block title %}Account: BarcodeRobot{% endblock %}

{% block navigation %}{% endblock %}


{% block leftside %}
<div id="left" class="column">
<ul>
<li class="title"><a rel="nofollow"  href="/">Home</a></li>
</ul>
</div>
{% endblock %}

{% block content %}

<h2>Valid user account is needed</h2>

<p>Hello, you are currently not logged-in. Please login or register (we will not use your email inappropriately) to continue.</p>

<ul>
	<li>To register please click here: <a href="/accounts/register/">REGISTER</a></li>
	<li>To login please click here: <a href="/accounts/login/">LOGIN</a></li>
</ul>



{% endblock %}
