{% load static %}
{% if func == 'render_range' %}
    {% with prefix.get_range as range %}
        {% with prefix.prefix|length as plength %}
            {% if prefix.is_upc %}
                <b>{% for i in range.0 %}{% if forloop.counter0 >= 1 %}{% if forloop.counter0 == plength %}</b><span style="color:#F26334">{% elif forloop.counter0 == 12 %}</span>{% endif %}{{ i }}{% endif %}{% endfor %}
                -
                <b>{% for i in range.1 %}{% if forloop.counter0 >= 1 %}{% if forloop.counter0 == plength %}</b><span style="color:#F26334">{% elif forloop.counter0 == 12 %}</span>{% endif %}{{ i }}{% endif %}{% endfor %}
            {% else %}
                <b>{% for i in range.0 %}{% if forloop.counter0 == plength %}</b><span style="color:#F26334">{% elif forloop.counter0 == 12 %}</span>{% endif %}{{ i }}{% endfor %}
                -
                <b>{% for i in range.1 %}{% if forloop.counter0 == plength %}</b><span style="color:#F26334">{% elif forloop.counter0 == 12 %}</span>{% endif %}{{ i }}{% endfor %}
            {% endif %}
        {% endwith %}
    {% endwith %}
{% elif func == 'render_starting_number' %}
    {% with prefix.starting_from as sf %}
        {% with prefix.prefix|length as plength %}
            {% if prefix.is_upc %}
                <b>{% for i in sf %}{% if forloop.counter0 >= 1 %}{% if forloop.counter0 == plength %}</b><span style="color:#F26334">{% elif forloop.counter0 == 12 %}</span>{% endif %}{{ i }}{% endif %}{% endfor %}
            {% else %}
                <b>{% for i in sf %}{% if forloop.counter0 == plength %}</b><span style="color:#F26334">{% elif forloop.counter0 == 12 %}</span>{% endif %}{{ i }}{% endfor %}
            {% endif %}
        {% endwith %}
    {% endwith %}
{% elif func == 'render_prefix' %}
    {% with prefix.prefix|length as plength %}
        {% if prefix.is_upc %}
            {% for i in prefix.prefix %}{% if forloop.counter0 >= 1 %}{{ i }}{% endif %}{% endfor %}
        {% else %}
            {{ prefix.prefix }}
        {% endif %}
    {% endwith %}
{% elif func == 'render_range_breadcrumb' %}
    {% with prefix.get_range as range %}
        {% with prefix.prefix|length as plength %}
            {% if prefix.is_upc %}
                <b>{% for i in range.0 %}{% if forloop.counter0 >= 1 %}{% if forloop.counter0 == plength %}</b><span style="color:#F26334">{% elif forloop.counter0 == 12 %}</span>{% endif %}{{ i }}{% endif %}{% endfor %}
                -
                <b>{% for i in range.1 %}{% if forloop.counter0 >= 1 %}{% if forloop.counter0 == plength %}</b><span style="color:#F26334">{% elif forloop.counter0 == 12 %}</span>{% endif %}{{ i }}{% endif %}{% endfor %}
            {% else %}
                <b>{% for i in range.0 %}{% if forloop.counter0 == plength %}</b>{% elif forloop.counter0 == 12 %}<span style="color:#FFFFFF">{% endif %}{{ i }}{% endfor %}</span>
                -
                <b>{% for i in range.1 %}{% if forloop.counter0 == plength %}</b>{% elif forloop.counter0 == 12 %}<span style="color:#FFFFFF">{% endif %}{{ i }}{% endfor %}</span>
            {% endif %}
        {% endwith %}
    {% endwith %}
{% elif func == 'render_gtin13' %}
    {% if kind == 'EAN13' or case %}
      <b>{% for i in gtin13 %}{% if forloop.counter0 == plength %}</b> <span style="color:#F26334">{% elif forloop.counter0 == 12 %}</span> <span id="cd">{% endif %}{{ i }}{% endfor %}</span>
    {% elif kind == 'UPCA' %}
      <b>{% for i in gtin13 %}{% if forloop.counter0 >= 1 %}{% if forloop.counter0 == plength %}</b> <span style="color: #F26334">{% elif forloop.counter0 == 12 %}</span> <span id="cd">{% endif %}{{ i }}{% endif %}{% endfor %}</span>
    {% endif %}
{% elif func == 'render_gtin' %}
    {% if kind == 'EAN13' %}
        {% if enable_leading %}{{ gtin|slice:"0:1" }}{% endif %}<b>{% for i in gtin %}{% if forloop.counter0 >= 1 %}{% if forloop.counter0 == plength|add:1 %}</b>{% elif forloop.counter0 == 13 %}<b>{% endif %}{{ i }}{% endif %}{% endfor %}</b>
    {% elif kind == 'UPCA' %}
        <b>{% for i in gtin %}{% if forloop.counter0 >= 1 %}{% if forloop.counter0 == plength %}</b>{% elif forloop.counter0 == 13 %}<b>{% endif %}{{ i }}{% endif %}{% endfor %}</b>
    {% else %}
        {% for i in gtin %}{% if forloop.counter0 == 1 %}<b>{% elif forloop.counter0 == plength|add:1 %}</b>{% elif forloop.counter0 == 13 %}<b>{% endif %}{{ i }}{% endfor %}</b>
    {% endif %}
{% elif func == 'render_package_level' %}
    {% if   product.package_level.id == 10 %}Transport load
    {% elif product.package_level.id == 20 %}Mixed module
    {% elif product.package_level.id == 40 %}<img src="{% static 'products/site/wizard/shipper.png' %}" alt="Display shipper" style="width:30%;" class="icon-img">
    {% elif product.package_level.id == 70 %}<img src="{% static 'products/site/wizard/pos.png' %}" alt="Each" style="width:30%;" class="icon-img">
    {% elif product.package_level.id == 60 %}<img src="{% static 'products/site/wizard/pack.png' %}" alt="Pack" style="width:50%;" class="icon-img">
    {% elif product.package_level.id == 50 %}<img src="{% static 'products/site/wizard/case.png' %}" alt="Case" style="width:50%;" class="icon-img">
    {% else %}<img src="{% static 'products/site/wizard/pallet.png' %}" alt="Pallet" style="width:50%;" class="icon-img">{% endif %}
{% endif %}
