{% load i18n %}
<fieldset class='fieldset' id='weight_fs'>
    <legend>Weights</legend>
    <div class='row'>
        <div class='col-xs-6'>
            {% include 'security/_macros.html' with func='render_field_with_errors4_help' field=form.gross_weight label='Gross Weight' only %}
        </div>
        <div class='col-xs-6'>
            {% include 'security/_macros.html' with func='render_field_with_errors4_help' field=form.gross_weight_uom label='&nbsp;' only %}
        </div>
    </div>
    {% if product_package_level_id == 70 %}
        <div class="row">
            <div class='col-xs-6'>
                {% include 'security/_macros.html' with func='render_field_with_errors4_help' field=form.net_weight label='Net Weight' only %}
            </div>
            <div class='col-xs-6'>
                {% include 'security/_macros.html' with func='render_field_with_errors4_help' field=form.net_weight_uom label='&nbsp;' only %}
            </div>
        </div>
    {% endif %}
</fieldset>
