{% load i18n %}
<fieldset class='fieldset' id='dimen_fs'>
    <legend>Dimensions</legend>
    <div class="row">
        <div class='col-xs-6'>
            {% include 'security/_macros.html' with func='render_field_with_errors4_help' field=form.depth label='Depth' only %}
        </div>
        <div class='col-xs-6'>
            {% include 'security/_macros.html' with func='render_field_with_errors4_help' field=form.depth_uom label='&nbsp;' only %}
        </div>
    </div>
    <div class="row">
        <div class='col-xs-6'>
            {% include 'security/_macros.html' with func='render_field_with_errors4_help' field=form.width label='Width' only %}
        </div>
        <div class='col-xs-6'>
            {% include 'security/_macros.html' with func='render_field_with_errors4_help' field=form.width_uom label='&nbsp;' only %}
        </div>
    </div>
    <div class="row">
        <div class='col-xs-6'>
            {% include 'security/_macros.html' with func='render_field_with_errors4_help' field=form.height label='Height' only %}
        </div>
        <div class='col-xs-6'>
            {% include 'security/_macros.html' with func='render_field_with_errors4_help' field=form.height_uom label='&nbsp;' only %}
        </div>
    </div>
</fieldset>
