{% extends 'base_bs4.html' %}
{% load static %}
{% load i18n %}

{% block title %}GS1 Activate: {{ title }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb col-auto mr-auto">
        <li><a href="{% url 'users:profile' %}">{{ _("Home") }}</a></li>
        <li>{{ title }}</li>
    </ol>
    <div class="active_range col-auto">
        {% include 'prefixes/render_range_prefix.html' with prefix=prefix only %}
        <a href="{% url 'prefixes:prefixes_list' %}"> [{% trans 'Change' %}]</a>
    </div>
{% endblock %}
{% block site_content %}
    <div class="site-content">
        <h2>{% block page_title %} {{ title }} {% endblock %}</h2>
        {% block page_content %}
            <div class="site-content-padder">
                <div class="ProductCreateApp"></div>
            </div>
        {% endblock page_content %}
    </div>
{% endblock site_content %}

{% block base_scripts %}
    <script type="text/javascript" src="{% url 'javascript-i18n' %}"></script>
    <script type="text/html" id="FormAppData">{{ form_data_json|safe }}</script>
    <script src="{% static 'site/standalone/standalone-components.js' %}"></script>
{% endblock %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'site/standalone/standalone-components.css' %}"/>
{% endblock %}
